* {
    padding: 0;
    margin: 0;
    font-family: 'roboto', 'sans-serif';
}

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 2fr 2fr;
}

.header {
    background-color: #f1f5f9;
    padding: 10px 25px 10px 25px;
    grid-column: 2 / -1;
    grid-row: 1;
    display: grid;
    grid-template-columns: 1.5fr 1fr 1.5fr;
    grid-template-rows: 1fr 2fr;
    max-height: 200px;
}

.sidebar {
    background-color: #475569;
    grid-column: 1;
    grid-row: 1 / -1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 2fr 8fr;
    padding: 10px;
    color: white;
    gap: 40px;
}

.content {
    background-color: #cbd5e1;
    grid-column: 2 / -1;
    grid-row: 2 / -1;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr 5fr 1fr 5fr;
    padding: 20px;
    gap: 20px;
}

.branding {
    grid-column: 1;
    grid-row: 1;
    display: grid;
    align-items: center;
    font-size: 1.5rem;
}

.menu-items1 {
    grid-column: 1;
    grid-row: 2;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, 1fr);
}

.menu-items2 {
    grid-column: 1;
    grid-row: 3;
    display: grid;
    gap: 20px;
}

.search {
    grid-column: 1 / 3;
    grid-row: 1;
    display: grid;
    align-items: center;
    padding: 0 15px 0 15px;
    gap: 10px;
    grid-template-columns: 1fr 10fr;
}

.user-greet {
    grid-column: 1;
    grid-row: 2;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 4fr;
    gap: 10px;
    padding: 0 15px 0 15px;
}

.account {
    grid-column: 3;
    grid-row: 1;
    display: grid;
    align-items: center;
    justify-items: end;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    padding: 0 15px 0 15px;
}

.buttons {
    grid-column: 3;
    grid-row: 2;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 0 15px 0 15px;
}

.search > button {
    grid-column: 1;
}

.search > input {
    grid-column: 2;
}

.your-projects {
    grid-column: 1;
    grid-row: 1;
}

.announcements {
    grid-column: 2;
    grid-row: 1;
    padding-bottom: 5px;
}

.trending {
    grid-column: 2;
    grid-row: 3;
    padding-top: 20px;
    padding-bottom: 10px;
}

.projects-container {
    grid-column: 1;
    grid-row: 2 / -1;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.annoucement-card {
    grid-column: 2;
    grid-row: 2;
}

.trending-card {
    grid-column: 2;
    grid-row: 4;
}

.trend-user {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.announcement-card, .trending-card, .project-card {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
}

.project-card {
    border-left: solid yellow 10px;
    min-height: 200px;
    max-height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;

}

.project-card > h4 {
    grid-column: 1 / -1;
    grid-row: 1;
}

.project-card > p {
    grid-column: 1 / -1;
    grid-row: 2;
}

.project-card > .card-icons {
    grid-column: 1 / -1;
    grid-row: 3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.card-icons > img {
    transform: scale(0.3, 0.3);
}


#bell-icon, #user-icon {
    transform: scale(0.3, 0.3);
}

.menu-items1 img {
    transform: scale(0.3, 0.3);
}

.home {
    display: grid;
    grid-column: 1 / -1;
    grid-row: 1;
}

#home-icon {
    display: grid;
    grid-column: 1;
    grid-row: 1;
}

#home-text {
    display: grid;
    grid-column: 2;
    grid-row: 1;
}